* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif; margin:0;
}

nav {
    width:100%;
    background-color:rgb(5, 5, 54);
}

.name {
    color:white;
    float:left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    text-align:center;
    padding: 8px 10px;
    color:white;
    font-size: 1.5em;
}

.links a:hover {
    background-color: rgb(49, 119, 233);
    color: white;
}

footer {
    width: 100%;
    background-color: rgb(5,5,54);
    margin-bottom:0;
}

#contactInfo {
    color:white;
}


.mySlides1, .mySlides2, .mySlides3 {
    display: none;
}
img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  margin-left: -350px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 150px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}



  
  
